<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/allignment.css">
    <title>Guide</title>
    <link rel="icon" href="/img/hexagon-clipart-green-1.png">
</head>