<%- include('./partials/header') %>

<body>
    <section class="flexrow">
        <section class="flexpartmini"></section>
        <section class="flexpart flexcol bigsegment">
            <div class="smallsegment">
                <h1 class="supertitle">Sette opp node.js server på virtual machine (ubuntu) server</h1>
            </div>

            <br>

            <div class="smallsegment">
                <img src="/img/ubuntu-z6rtxbp6rijb53hx.jpg" alt="" class="img">
                <h2 class="title">
                    Step 0: Forbredelser
                </h1>
                <p class="paragr">
                    Ubuntu VM klar: Sørg for at du har en fungerende Ubuntu Virtual Machine (enten i skyen som AWS, Azure, GCP eller lokalt via VirtualBox/VMware).
                </p>
                <p class="paragr">
                    Node.js-applikasjon klar: Du bør ha en enkel Node.js-app (for eksempel en app.js som starter en server med express).
                </p>
            </div>

            <br>
            
            <div class="smallsegment">
                <h2 class="title">
                    Step 1: Last opp prosjektet på github
                </h2>
                <img src="/img/git.png" alt="" class="img">
                <p class="paragr">
                    Opprett et nytt repository på GitHub.
                </p>
                <p class="paragr">
                    Legg til Node-prosjektet ditt i repoet:
                </p>
                <section class="terminalbox">
                    <code>
                        git init
                        <br>
                        git add .
                        <br>
                        git commit -m "Initial commit"
                        <br>
                        git branch -M main
                        <br>
                        git remote add origin https://github.com/"brukernavn"/"repo-navn".git
                        <br>
                        git push -u origin main
                    </code>
                </section>
            </div>
            
            <br>

            <div class="smallsegment">
                <h2 class="title">Step 2: Klon repository på VM-en</h2>
                <p class="paragr">Logg inn på VM-en via SSH:</p>
                <section class="terminalbox">
                    ssh brukernavn@vm-ip-adresse
                </section>
                <p class="paragr">Installer git hvis det ikke finnes</p>
                <section class="terminalbox">
                    sudo apt update
                    <br>
                    sudo apt i git -y
                </section>
                <p class="paragr">Klon prosjektet</p>
                <section class="terminalbox">
                    git clone https://github.com/"brukernavn"/"repo-navn".git
                    <br>
                    cd "repo-navn"
                </section>
            </div>

            <br>

            <div class="smallsegment">
                <h2 class="title">Step 3: Installer Node.Js og npm</h2>
                <img src="/img/nodejs-logo.png" alt="" class="img">
                <p class="paragr">Installer node.js og npm</p>
                <section class="terminalbox">
                    sudo apt i nodejs npm -y
                </section>
            </div>

            <br>

            <div class="smallsegment">
                <h2 class="title">Step 4: Installer avhengigheter (hvis du har package.json)</h2>
                <section class="terminalbox">
                    npm i
                </section>
                <p class="paragr">Dette installerer alle avhengigheter til applikasjonen</p>
            </div>

            <br>
            
            <div class="smallsegment">
                <h2 class="title">Step 5: Start applikasjonen</h2>
                <section class="terminalbox">
                    node app.js
                </section>
                <p class="paragr">Tast ctrl + c for å lukke applikasjonen</p>
            </div>
            
            <br>

            <div class="smallsegment">
                <h2 class="title">
                    Step 6: Videre synkronisering
                </h1>
                <p class="paragr">
                    Etter du har gjort flere push på git prosjektet, terminal i git repositorien:
                <section class="terminalbox">
                    git pull
                </section>
            </div>

        </section>
        <section class="flexpartmini"></section>
    </section>
    <br>
</body>